# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\java_learn\09.IO流\day12-IO流day02\代码\强化练习（课后补充资料）\collection-io-test\test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
